<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title> 
    <link rel="stylesheet" type="text/css" href="../static/Styles/admin-all.css" />
    <link rel="stylesheet" type="text/css" href="../static/Styles/base.css"/>
    <script type="text/javascript" src="../static/Scripts/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../static/Scripts/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/Styles/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <link rel="stylesheet" type="text/css" href="../static/Styles/formui.css"/>
    <!--<script type="text/javascript" src="../static/Scripts/tb.js"></script> -->
    <style type="text/css">
            #title{
                margin:4px;
            }
    </style>
</head>
<body>
    <div class="alert alert-info" id="title">当前位置<b class="tip"></b>ORACLE监控<b class="tip"></b>监控告警<b class="tip"></b>告警详情</div>
   <!-- Table goes in the document BODY -->
    <table class="gridtable">
    <tr>
    	<th width="200">主机</th><th>IP</th><th>实例</th><th>数据库</th><th>告警详情</th><th>告警级别</th><th>告警时间</th>
    </tr>
        {% for entry in entries %}
    <tr>
    	<td width="200">{{entry.host_name}}</td><td>{{entry.ip_addr}}</td>
        <td>{{entry.inst_name}}</td><td>{{entry.db_name}}</td><td>{{entry.alert_info}}</td>
        <td width="100">{{entry.level}}</td><td>{{entry.create_time}}</td>
    </tr>
     {% endfor %}
    </table>
</body>
</html>














